<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<title>The Movie Place</title>
</head>
<body>
	<div class="center-block center-text">
		<h2 id="title">IWatchMovies</h2>
		<h3 id="title-text">Watch all the movies you want</h3>
		<p class="text">We have a collection of more than millions of movies at your disposal.<p>
		<p class="text">Click <span><a href="movies">here</a></span> to see them.<p>
	</div>
</body>
</html>